apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
  namespace: default
data:
  NODE_ENV: "production"
  VITE_AUTH_SERVICE_URL: "http://auth-service:8000"
  VITE_PRODUCT_SERVICE_URL: "http://product-service:8000"

